.TapTable {
    width: 100%;
    background-color: #373737;
}

.TapTableRow {
    border: 1px solid white;
}

.TapTableDescColumn {
    padding: 15px;
    border-left: 1px solid white;
    width: 100%;
    vertical-align: top;
    text-align: left;
}

.TapTableDetailsColumn {
    padding: 15px;
    width: 100px;
    vertical-align: top;
    text-align: left;
}

.TapTableDescFont {
    font: Verdana;
    color: white;
    font-size: 20px
}

.TapTableNameFont {
    font: Verdana;
    color: white;
    font-size: 20px;
    margin: 0;
}

.TapTableStyleFont {
    font: Verdana;
    color: white;
    font-size: 20px;
    padding: 0px;
    margin: 0;
}

.TapTableBreweryFont {
    font: Verdana;
    color: white;
    font-size: large;
    margin: 0;
}

.TapTableAbvIbuFont {
    font: Verdana;
    color: white;
    font-size: 15px;
    margin: 0;
}